@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&family=Inconsolata:wght@200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');

/* css variants home section*/
:root {
    --orange: rgb(239, 136, 0);
    --white: #fefefe;
    --black: #222222;
    --panta: #0f0f0ff1;
    --blue: rgb(40, 68, 223);
    --dark-blue: rgb(24, 41, 139);
    --red: rgb(194, 57, 33);
    --dark-red: rgb(143, 43, 26);
    --dark-yelow: rgb(150, 150, 6);
    --grey: #727272;
    --green: rgb(33, 190, 106);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-image: linear-gradient(45deg, grey, var(--black));
}

/*navbar css*/
.navbar {
    padding: 20px;
    background-color: #fefefe;
    box-shadow: 0.5px 0.5px 5px var(--grey);
    min-height: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    text-indent: 30px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: auto;
}

.navbar a {
    text-decoration: none;
}

.navbar #section-home {
    color: var(--orange);
}

.navbar #section-projects {
    color: #222222;
}

.navbar #section-contact {
    color: #222222;
}

.navbar #section-projects:hover {
    color: var(--orange);
    transition: 0.5s;
}

.navbar #section-contact:hover {
    color: var(--orange);
    transition: 0.5s;
}

/*whoami css*/
.whoami {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    margin: 50px;
    border-radius: 0.5rem;
    display: block;
}

.whoami.showHighDescription{
    animation: test 1.5s forwards;
}

@keyframes test{
    100%{
        transform: translateY(-100rem);
        position: absolute;
        top: 0;
    }
}

.card-main {
    padding: 40px;
}

.small-description h1 {
    font-family: 'Inconsolata', sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-shadow: 2px 2px var(--black);
    color: var(--white);
    opacity: 0;
    animation: moveCardSmallDescription 1s forwards;
}

.small-description p {
    font-family: 'Barlow', sans-serif;
    padding-bottom: 10px;
    color: var(--white);
    text-shadow: 2px 2px var(--black);
    font-size: 22px;
    opacity: 0;
    animation: moveCardSmallDescription 1.2s forwards;
}

.small-description button {
    background-color: var(--panta);
    border: none;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    opacity: 0;
    transition: background-color 0.5s;
    animation: moveCardSmallDescription 1.5s forwards;
}

.small-description button:hover {
    background-color: var(--white);
    color: var(--black);
}

@keyframes moveCardSmallDescription {
    0% {
        transform: translateX(100rem);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*high description css*/
.cards-dev {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: none;
    animation: fadein 1.4s;
}

.cards-dev.show-cards{
    display: block;
}

@keyframes fadein{
    from {
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.sub-card {
    margin: auto;
    background-color: var(--black);
    width: 65%;
    height: 100%;
    box-shadow: 12px 12px 8px var(--panta);
    border-radius: 0.5rem;
}

.title-terminal h5 {
    color: var(--white);
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}

.article-dev {
    display: block;
    flex-direction: column;
}

.terminal-simulator .initial-topic {
    display: flex;
    color: var(--green);
    margin-left: 5px;
    padding-top: 20px;
    font-family: monospace;
    font-weight: 400;
}

.terminal-simulator .initial-topic #simbols {
    color: var(--white);
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
}

.terminal-simulator .show-lists {
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}

.show-lists li {
    color: var(--white);
    padding-left: 5px;
    list-style: none;
    position: relative;
    left: 0;
    top: 0;
    font-family: monospace, sans-serif;
    font-size: 15px;
}

/*high description cards css*/
.neofetch-card {
    padding: 25px;
    margin: 0;
}

.neofetch-card hr {
    margin-right: 50px;
}

.topic-description {
    display: flex;
    flex-direction: row;
}

.img-profile {}

.img-profile h3 {
    color: var(--orange);
    margin-left: 30px;
}

.datas-dev h3 {
    font-family: monospace, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--orange);
}

.datas-dev .titles h5 {
    font-family: monospace, sans-serif;
    font-size: 15px;
    color: var(--orange);
}

.datas-dev .titles p {
    font-family: monospace, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
}

#name {
    display: flex;
}

#kernel {
    display: flex;
}

#packages {
    display: flex;
}

#terminal {
    display: flex;
}

#cpu {
    display: flex;
}

.datas-dev hr {
    background-size: contain;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
    position: relative;
    border: 1px dashed var(--white);
}

.colors-pallets {
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 35px;
    height: 25px;
}

.grid-item-1{
    background-color: var(--panta);
    width: 35px;
    height: 25px;
}

.grid-item-2{
    background-color: var(--red);
    width: 35px;
    height: 25px;
}

.grid-item-3{
    background-color: var(--green);
    width: 35px;
    height: 25px;
}
.grid-item-4{
    background-color: var(--dark-yelow);
    width: 35px;
    height: 25px;
}
.grid-item-5{
    background-color: var(--blue);
    width: 35px;
    height: 25px;
}
.grid-item-6{
    background-color: var(--grey);
    width: 35px;
    height: 25px;
}
.grid-item-7{
    background-color: var(--dark-red);
    width: 35px;
    height: 25px;
}
.grid-item-8{
    background-color: var(--green);
    width: 35px;
    height: 25px;
}
.grid-item-9{
    background-color: var(--dark-yelow);
    width: 35px;
    height: 25px;
}
.grid-item-10{
    background-color: var(--dark-blue);
    width: 35px;
    height: 25px;
}

.btn-go-back button{
    margin: 5px;
    padding: 12px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-family: monospace, sans-serif;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.7s;
}

.btn-go-back button:hover{
    cursor: pointer;
    background-color: var(--green);
}

/* footer css*/
footer {
    background-color: var(--white);
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 0 1px var(--grey);
}

.footer-title {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    text-align: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 20px;
}

.cards-footer {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}

.follow-social-midias {
    padding-left: 30px;
}

.icons-positions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.follow-social-midias h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

#icons-midia {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#icons-midia-linkedin:hover {
    transition: transform .4s ease-in-out;
    transform: scale(1.3);
}

#icons-midia-github:hover {
    transition: transform .4s ease-in-out;
    transform: scale(1.3);
}

#icons-midia-youtube:hover {
    transition: transform .4s ease-in-out;
    transform: scale(1.3);
}

#icons-midia-discord:hover {
    transition: transform .4s ease-in-out;
    transform: scale(1.3);
}

.credits {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.credits a {
    text-decoration: none;
    color: var(--black);
}

.credits a:hover {
    color: var(--orange);
    transition: 0.5s;
}