@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&family=Inconsolata:wght@200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');

/* css variants home section*/
:root {
    --orange: rgb(239, 136, 0);
    --white: #fefefe;
    --navbar-color: #cccaca;
    --footer-color: #d1d1d1;
    --black: #222222;
    --panta: #0f0f0ff1;
    --blue: rgb(40, 68, 223);
    --dark-blue: rgb(24, 41, 139);
    --red: rgb(194, 57, 33);
    --dark-red: rgb(143, 43, 26);
    --dark-yelow: rgb(150, 150, 6);
    --grey: #727272;
    --green: rgb(33, 190, 106);
    --purple: rgb(167, 26, 214);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: var(--panta);
}

/*navbar css*/
nav{
    width: 100%;
    margin: 0;
}

.components-navbar {
    display: flex;
    justify-content: space-between;
}

.components-navbar img {
    width: 32px;
    height: 32px;
}

.navbar {
    padding: 16px;
    background-color: var(--black);
    box-shadow: 0.5px 0.5px 5px var(--grey);
    min-height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    text-indent: 30px;
    list-style: none;
}

.navbar a {
    color: var(--navbar-color);
    text-decoration: none;
    transition: all 0.5s;
}

.navbar a:hover{
    color: var(--orange);
}

.navbar i{
    font-size: 25px;
    color: var(--white);
    transition: all 0.5s;
}

.navbar i:hover{
    cursor: pointer;
    color: var(--purple);
}

/*whoami css*/
.whoami {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    margin: 50px;
    display: block;
    border-radius: 0.5rem;
}

.whoami.showHighDescription {
    animation: hideSmallDescription 1.5s forwards;
}

@keyframes hideSmallDescription {
    100% {
        transform: translateY(-100rem);
        position: absolute;
        top: 0;
    }
}

.card-main {
    padding: 40px;
}

.small-description h1 {
    font-family: 'Inconsolata', sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-shadow: 2px 2px var(--black);
    color: var(--white);
    opacity: 0;
    animation: moveCardSmallDescription 1s forwards;
}

.small-description p {
    font-family: 'Barlow', sans-serif;
    padding-bottom: 10px;
    color: var(--white);
    text-shadow: 2px 2px var(--black);
    font-size: 22px;
    opacity: 0;
    animation: moveCardSmallDescription 1.2s forwards;
}

.small-description button {
    background-color: var(--panta);
    border: none;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    opacity: 0;
    transition: background-color 0.5s;
    animation: moveCardSmallDescription 1.5s forwards;
}

.small-description button:hover {
    background-color: var(--white);
    color: var(--black);
}

@keyframes moveCardSmallDescription {
    0% {
        transform: translateX(100rem);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*high description css*/
.cards-dev {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: none;
    animation: fadein 1.8s;
}

.cards-dev.show-cards {
    display: block;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sub-card {
    margin: auto;
    background-color: var(--black);
    width: 60%;
    height: 100%;
    box-shadow: 15px 12px 8px var(--panta);
    border-radius: 0.5rem;
}

.title-terminal h5 {
    color: var(--white);
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}

.article-dev {
    display: block;
    flex-direction: column;
}

.terminal-simulator .initial-topic {
    display: flex;
    color: var(--green);
    margin-left: 5px;
    padding-top: 20px;
    font-family: monospace;
    font-weight: 400;
}

.terminal-simulator .initial-topic #simbols {
    color: var(--white);
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
}

.terminal-simulator .show-lists {
    height: 20px;
}

.show-lists li {
    color: var(--white);
    padding-left: 5px;
    list-style: none;
    position: relative;
    left: 0;
    top: 0;
    font-family: monospace, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/*high description cards css*/
.neofetch-card {
    padding: 25px;
    margin: 0;
}

.neofetch-card hr {
    margin-right: 50px;
}

.topic-description {
    display: flex;
    flex-direction: row;
}

.img-profile img {
    width: 260px;
    height: 320px;
    border-radius: 0.5rem;
    margin: 5px;
}

.img-profile h3 {
    color: var(--orange);
    margin-left: 30px;
}

.datas-dev h3 {
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--orange);
}

.datas-dev .titles h5 {
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--orange);
}

.datas-dev .titles p {
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--white);
}

#whoami{
    display: flex;
}

#kernel {
    display: flex;
}

#packages {
    display: flex;
}

#terminal {
    display: flex;
}

#cpu {
    display: flex;
}

#gpu {
    display: flex;
}

.datas-dev hr {
    background-size: contain;
    width: 30%;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
    position: relative;
    border: 1px dashed var(--white);
}

.colors-pallets {
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 35px;
    height: 25px;
}

.grid-item-1 {
    background-color: var(--panta);
    width: 35px;
    height: 25px;
}

.grid-item-2 {
    background-color: var(--red);
    width: 35px;
    height: 25px;
}

.grid-item-3 {
    background-color: var(--green);
    width: 35px;
    height: 25px;
}

.grid-item-4 {
    background-color: var(--dark-yelow);
    width: 35px;
    height: 25px;
}

.grid-item-5 {
    background-color: var(--blue);
    width: 35px;
    height: 25px;
}

.grid-item-6 {
    background-color: var(--grey);
    width: 35px;
    height: 25px;
}

.grid-item-7 {
    background-color: var(--dark-red);
    width: 35px;
    height: 25px;
}

.grid-item-8 {
    background-color: var(--green);
    width: 35px;
    height: 25px;
}

.grid-item-9 {
    background-color: var(--dark-yelow);
    width: 35px;
    height: 25px;
}

.grid-item-10 {
    background-color: var(--dark-blue);
    width: 35px;
    height: 25px;
}

.go-back{
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
}

.go-back p{
    font-family: monospace, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
    margin-left: 5px;
    padding-top: 20px;
}

.go-back h3{
    display: flex;
    color: var(--green);
    margin-left: 5px;
    font-family: monospace;
    font-weight: bold;
}

.go-back #simbols{
    color: var(--white);
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
}

.go-back button{
    margin-left: 5px;
    width: 60px;
    background: var(--black);
    border: none;
    color: var(--white);
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    text-align: start;
    transition: all 1s;
}

.go-back button:hover{
    cursor: pointer;
    background: var(--green);
}

/*groups css*/
.conhecimentos-back-end{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conhecimentos-deploys-backlogs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    position: relative;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.card:hover .card-icons img{
    opacity: 0.1;
}

.card-icons img{
    margin: 18px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

.card-info{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-shadow: 0, 0.1rem, 0.3rem rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.card-info h3{
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 2px 2px 8px var(--black);
    color: var(--white);
    margin-bottom: 1rem;
}

.card-info p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px 8px var(--black);
    color: var(--white);
    padding-bottom: 10px;
}

.card-info button{
    width: 8rem;
    height: 2.5rem;
    background: var(--panta);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    transition: all 0.5s;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.card-info button:hover{
    cursor: pointer;
    background: var(--white);
    color: var(--black);
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

/* projects css*/
.projects-section{
    display: none;
}

.projects-section section{
    width: auto;
    height: 80%;
    margin: 20px;
    text-align: center;
    justify-content: center;
}

.title-content h1{
    font-family: 'Barlow', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    text-shadow: rgb(0, 0, 0);
    color: var(--white);
    margin-bottom: 30px;
}

.gif-wrapper{
    text-align: center;
    justify-content: center;
}

.gif-wrapper h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: var(--white);
}

.projects-section.showProjectSection{
    display: block;
}

/*footer css*/
footer{
    width: 100%;
}

.footer-section footer{
    font-family: 'Inter', sans-serif;
    background: var(--panta);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.logo-wrapper p{
    color: var(--footer-color);
    font-size: 13px;
}