@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Inter:wght@100;200;400;500;600&family=Roboto:wght@100;300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;1,100&display=swap');

/* css variants home section*/
:root {
    --orange: rgb(239, 136, 0);
    --white: #fefefe;
    --black: #222222;
    --panta: #0f0f0ff1;
    --grey: #c8c8c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/*navbar css*/

.navbar {
    padding: 20px;
    background-color: #fefefe;
    box-shadow: 0.5px 0.5px 3px;
    min-height: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    text-indent: 30px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.navbar a {
    text-decoration: none;
}

.navbar #section-home {
    color: var(--orange);
}

.navbar #section-projects {
    color: #222222;
}

.navbar #section-contact {
    color: #222222;
}

.navbar #section-projects:hover {
    color: var(--orange);
    transition: 0.5s;
}

.navbar #section-contact:hover {
    color: var(--orange);
    transition: 0.5s;
}

/*whoami css*/
.whoami {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    border-radius: 0.5em;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-main {
    padding: 40px;
}

.small-description h1 {
    font-family: 'Fira Code', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #222222;
}

.small-description p {
    font-family: 'Inter', sans-serif;
    padding-bottom: 10px;
    font-size: 22px;
}

.small-description button {
    background-color: var(--orange);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.small-description button:hover {
    background-color: #222222;
    transition: 0.5s;
}

/*high description css*/
.sub-card {
    margin-top: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--black);
    visibility: hidden;
    width: 100%;
    height: 100vh;
}

.title-terminal {
    padding: 7px;
    background-color: #444444;
}

.title-terminal h5 {
    color: var(--white);
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}

.terminal-simulator .initial-topic {
    display: flex;
    color: rgb(42, 255, 142);
    padding-top: 20px;
    font-family: monospace;
    font-weight: 400;
}

.terminal-simulator .initial-topic #simbols {
    color: var(--white);
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
}

.terminal-simulator .show-lists {
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}

.show-lists li {
    color: var(--white);
    padding-left: 5px;
    list-style: none;
    position: relative;
    left: 0;
    top: 0;
    animation: slide 6s steps(4);
    font-family: monospace, sans-serif;
    font-size: 15px;
}

@keyframes slide {
    100% {
        top: -80px;
    }
}

.show-lists li span {
    position: relative;
}

.show-lists li span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid var(--white);
    animation: typing 1.5s steps(10) 3;
    background-color: var(--black);
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}


/* footer css*/
footer {
    background-color: var(--white);
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 0 1px var(--grey);
}

.footer-title {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    text-align: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 20px;
}

.cards-footer {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}

.follow-social-midias {
    padding-left: 30px;
}

.follow-social-midias h3 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

#icons-midia {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.credits {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.credits a {
    text-decoration: none;
    color: var(--black);
}

.credits a:hover{
    color: var(--orange);
    transition: 0.5s;
}